/* Bootstrap override */
@media screen and (max-width: 767px) {
    .no-width-xs {
        width: auto !important;
    }
    .no-margin-xs {
        margin: 0 !important;
    }
    .no-margin-top-xs {
        margin-top: 0 !important;
    }
    .no-margin-bottom-xs {
        margin-bottom: 0 !important;
    }
    .no-margin-left-xs {
        margin-left: 0 !important;
    }
    .no-margin-right-xs {
        margin-right: 0 !important;
    }
}

.btn-border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
}
.btn-border:hover {
    border-color: #adadad;
}

/* DataTable override */
.dataTable a:hover {
    text-decoration: none;
}
.dataTable a > i,
.dataTable a > button {
    color: #333;
}
.dataTable i.pull-right {
    margin-top: 5px;
}
.dataTables_filter select {
    margin-left: 0.5em;
    display: inline-block;
}
@media screen and (max-width: 767px) {
    .dataTables_filter select,
    .dataTables_filter input[type=search] {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .dataTables_filter #from,
    .dataTables_filter #until {
        width: 50% !important;
        margin-left: 0 !important;
    }
}

/* Style toast alert */
.toast-message {
    margin-top: 7px;
}

/* Style text wrap */
.textwrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.text-nowrap {
    white-space: nowrap !important;
}

/* Style upload buttons */
.fileupload_btn {
    position: relative;
    display: block;
}
.fileupload {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 10pt;
}
div.tab button:last-child {
    border-right: none;
}
div.tab button.pull-right {
    border-right: none;
    border-left: 1px solid #ccc;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    font-weight: bold;
}

/* On print */
@media print 
{
    .noprint {
        visibility: hidden;
        display: none;
    }
    tr, td, th {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    a {
        color: #000;
    }
    a[href]:after {
        content: none !important;
    }
}
